@page
@model EventzManager.Pages.Login.EntrarModel
@{
    Layout = "/Pages/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Entrar";
}

<div class="card m-auto">
    <div class="card-body">
        <form method="post" asp-page-handler="Entrar">
            <div class="text-center">
                <img class="mb-1 img-fluid" src="/imagens/logo_azul.svg" alt="Eventz Manager" arial-label="Eventz Manager"/>
                <h1 class="card-title">Login</h1>
            </div>

            <div class="mb-3">
                <input class="form-control" type="email" placeholder="Email"/>
                <span class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="text-end">
                    <a class="link-primary" asp-area="" asp-page="/Login/EsqueceuSenha/BuscarEmail">Esqueci a senha</a>
                </div>
                <input class="form-control" type="password" placeholder="Senha"/>
                <span class="text-danger"></span>
            </div>

            <button class="btn btn-primary w-100 mb-4" type="submit">Entrar</button>
        </form>

        <a class="btn btn-outline-primary w-100" asp-area="" asp-page="/Login/Cadastro/PreecherDados">Cadastrar</a>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}