@page
@model EventzManager.Pages.Login.EsqueceuSenha.BuscarEmailModel
@{
    Layout = "/Pages/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Buscar Email";
}

<div class="card m-auto">
    <div class="card-body">
        <form method="post" asp-page-handler="Buscar">
            <div class="text-center mb-3">
                <img class="mb-1 img-fluid" src="/imagens/logo_azul.svg" alt="Eventz Manager" arial-label="Eventz Manager" />
                <h1 class="card-title">Recuperação</h1>
                <p class="card-text">Insira o email da sua conta para iniciarmos a recuperação</p>
            </div>

            <div class="mb-3">
                <input class="form-control" type="email" placeholder="Email" asp-for="@Model.Email"/>
                <span class="text-danger" asp-validation-for="@Model.Email"></span>
            </div>

            <button class="btn btn-primary w-100 mb-4" type="submit">Buscar</button>
        </form>

        <div class="text-center">
            Ainda não tem uma conta? <a class="link-primary" asp-area="" asp-page="/Login/Cadastro/PreecherDados">Cadastre-se</a>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}