@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --preto-suave: #33313B;
    --branco-suave: #F6F5F5;
    --azul1: #0077C0;
    --azul2: #003A7A;
    --cinza: #C0BFBF;
    --vermelho: #CF3D3F;
}

html {
    font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}