@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --preto-suave: #33313B;
    --branco-suave: #F6F5F5;
    --azul1: #0077C0;
    --azul2: #003A7A;
    --cinza: #C0BFBF;
    --vermelho: #CF3D3F;
}

html {
    font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
    position: relative;
    min-height: 100%;
    color: var(--preto-suave);
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;

    background-color: var(--branco-suave)
}

/*Layout styles*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.navbar {
    background-image: linear-gradient(var(--azul1), var(--azul2));
}

.btn{
    font-weight: bold;
    border: none;
    border-radius: 100px;
}

.btn-primary {
    background-color: none;
    background-image: linear-gradient(90deg, var(--azul1), var(--azul2));
}

.btn-secondary:not(#btn-entrar) {
    box-shadow: 2px 2px 10px var(--cinza);
    background: -webkit-linear-gradient(var(--azul1), var(--azul2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    background-color: var(--branco-suave);
    border: none;
    box-shadow: 2px 2px 10px var(--cinza);
    border-radius: 20px;
}

.login .card {
    box-shadow: 4px -4px 20px var(--azul2), -4px 4px 20px var(--azul2);
}

.link-primary {
    font-weight: 600;
    color: var(--azul1);
}

.text-danger {
    background: var(--vermelho);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-control {
    background: none;
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 10px var(--cinza);
}

.input-group .link-primary {
    border: none;
    border-radius: 0px 20px 20px 0px;
}

.descricao { /*Input multlinha da descrição*/
    border-radius: 20px;
}

.dropdown-menu {
    background-color: var(--branco-suave);
}

.dropdown-menu a, .text-colored {
    font-weight: bold;
    background: linear-gradient(var(--azul1), var(--azul2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-menu a:active {
    background: var(--cinza);
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: var(--azul2);
}